---
layout: tool
title: Word Count Dashboard
description: "A tool to visualize my writing progress. (Takes a while to load.)"
---
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/cal-heatmap/dist/plugins/Tooltip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type="module" src="/assets/controllers/calendar_graph_controller.js"></script>

<section class="md:flex my-8 md:space-x-1">
  <div
    class="dark:bg-gray-800/[0.16] bg-gray-100 flex flex-col space-y-0 flex-1 p-2 my-1 md:rounded-l-xl rounded md:rounded-r-none">
    <span id="last_week_count" class="text-3xl font-bold">0</span>
    <span class="uppercase text-sm text-subtle">Last Week</span>
    <div id="lastWeekGraph" class="-mx-4"></div>
  </div>
  <div
    class="dark:bg-gray-800/[0.16] bg-gray-100 flex flex-col space-y-0 flex-1 px-2 pt-2 my-1 rounded md:rounded-none">
    <span id="current_week_count" class="text-3xl font-bold">0</span>
    <span class="uppercase text-sm text-subtle">Current Week</span>
    <div id="currentWeekGraph" class="-mx-4"></div>
  </div>
  <div class="dark:bg-gray-800/[0.16] bg-gray-100 flex flex-col space-y-0 flex-1 p-2 my-1 ">
    <span id="last_365d_count" class="text-3xl font-bold">0</span>
    <span class="uppercase text-sm text-subtle">Last 365 Days</span>
    <div id="last365dGraph" class="-mx-4"></div>
  </div>
  <div
    class="dark:bg-gray-800/[0.16] bg-gray-100 flex flex-col space-y-0 flex-1 p-2 my-1 md:rounded-r-xl rounded md:rounded-l-none">
    <span id="lifetime_count" class="text-3xl font-bold">0</span>
    <span class="uppercase text-sm text-subtle">Lifetime</span>
    <div id="alltimeGraph" class="-mx-4"></div>
  </div>
</section>
<section>
  <div class="flex space-x-4" data-controller="calendar-graph">
    <div class="my-4 flex-1">
      {% include contribution-map-365d.html %}
      {% include contribution-map-2024.html %}
      {% include contribution-map-2023.html %}
      {% include contribution-map-2022.html %}
      {% include contribution-map-2021.html %}
      {% include contribution-map-2020.html %}

      <div class="float-right flex items-center">
        <span data-view-component="true" class="mr-1">Less</span>
        <div style="width: 10px; height: 10px" id="contribution-graph-legend-level-0" data-level="0"
          data-view-component="true" class="ContributionCalendar-day rounded-1 mr-1">
          <span class="sr-only">No contributions.</span>
        </div>
        <div style="width: 10px; height: 10px" id="contribution-graph-legend-level-1" data-level="1"
          data-view-component="true" class="ContributionCalendar-day rounded-1 mr-1">
          <span class="sr-only">Low contributions.</span>
        </div>
        <div style="width: 10px; height: 10px" id="contribution-graph-legend-level-2" data-level="2"
          data-view-component="true" class="ContributionCalendar-day rounded-1 mr-1">
          <span class="sr-only">Medium-low contributions.</span>
        </div>
        <div style="width: 10px; height: 10px" id="contribution-graph-legend-level-3" data-level="3"
          data-view-component="true" class="ContributionCalendar-day rounded-1 mr-1">
          <span class="sr-only">Medium-high contributions.</span>
        </div>
        <div style="width: 10px; height: 10px" id="contribution-graph-legend-level-4" data-level="4"
          data-view-component="true" class="ContributionCalendar-day rounded-1 mr-1">
          <span class="sr-only">High contributions.</span>
        </div>
        <span data-view-component="true">More</span>
      </div>
    </div>
    <div class="flex flex-col space-y-2">
      <button data-action="click->calendar-graph#show"
        class="hover:bg-gray-500/10 py-1 px-2 rounded bg-indigo-500 text-white" data-calendar-graph-target="button"
        data-calendar-name="365d">365d</button>
      <button data-action="click->calendar-graph#show" class="hover:bg-gray-500/10 py-1 px-2 rounded"
        data-calendar-graph-target="button" data-calendar-name="2024">2024</button>
      <button data-action="click->calendar-graph#show" class="hover:bg-gray-500/10 py-1 px-2 rounded"
        data-calendar-graph-target="button" data-calendar-name="2023">2023</button>
      <button data-action="click->calendar-graph#show" class="hover:bg-gray-500/10 py-1 px-2 rounded"
        data-calendar-graph-target="button" data-calendar-name="2022">2022</button>
      <button data-action="click->calendar-graph#show" class="hover:bg-gray-500/10 py-1 px-2 rounded"
        data-calendar-graph-target="button" data-calendar-name="2021">2021</button>
      <button data-action="click->calendar-graph#show" class="hover:bg-gray-500/10 py-1 px-2 rounded"
        data-calendar-graph-target="button" data-calendar-name="2020">2020</button>
    </div>
  </div>
</section>

<script>
  let cal;
  let last_365d_count = [];
  let last_week_count = [];
  let current_week_count = [];
  let lifetime_count = 0;

  const startOfWeek = moment().startOf('isoWeek').format('YYYY-MM-DD');
  const endOfWeek = moment().endOf('isoWeek').format('YYYY-MM-DD');
  const startOfLastWeek = moment().subtract(1, 'week').startOf('isoWeek').format('YYYY-MM-DD');
  const endOfLastWeek = moment().subtract(1, 'week').endOf('isoWeek').format('YYYY-MM-DD');
  const startOf365DaysAgo = moment().subtract(365, 'days').format('YYYY-MM-DD');

  // console.log(startOfLastWeek, endOfLastWeek, startOfWeek, endOfWeek, startOf365DaysAgo);

  const fillMissingDays = (data, startDate, endDate) => {
    // console.log('fillMissingDays', startDate, endDate);
    let filledData = [];
    let period = moment(endDate).diff(moment(startDate), 'days') + 1
    for (let i = 0; i < period; i++) {
      // let date = moment().subtract(i, 'days').format('YYYY-MM-DD');
      let date = moment(startDate).add(i, 'days').format('YYYY-MM-DD')
      // console.log(date);
      let foundEntry = data.find(entry => entry.date === date);
      filledData.push(foundEntry || { date: date, value: 0 });
    }
    return filledData;
  };
  const groupByWeek = (data) => {
    const weeklyTotals = {};

    data.forEach(day => {
      const key = moment(day.date).startOf('isoWeek').format('YYYY-MM-DD');
      weeklyTotals[key] = (weeklyTotals[key] || 0) + day.value;
    });

    return Object.keys(weeklyTotals).map(key => {
      return {
        date: key,
        value: weeklyTotals[key]
      };
    });
  };

  const loadData = async () => {
    days = {};
    try {
      const response = await fetch('/assets/wordcount.json');
      if (!response.ok) {
        throw new Error("Network response was not ok.");
      }
      const entries = await response.json();
      entries.forEach(entry => {
        lifetime_count += (entry.count || 0);
        if (!days[entry.date]) { days[entry.date] = { count: 0, level: entry.level }; } // Initialize day
        days[entry.date].count += (entry.count || 0); // Ensure entry.count is a number
        // if day is in the current week, add to current_week_count
        // Categorize entry based on the date
        if (entry.date >= startOfWeek) {
          current_week_count.push({ date: entry.date, value: entry.count });
          last_365d_count.push({ date: entry.date, value: entry.count });
        }
        else if (entry.date >= startOfLastWeek && entry.date < endOfLastWeek) {
          last_week_count.push({ date: entry.date, value: entry.count });
          last_365d_count.push({ date: entry.date, value: entry.count });
        }
        else if (entry.date >= startOf365DaysAgo) {
          last_365d_count.push({ date: entry.date, value: entry.count });
        }

      })
      document.getElementById('last_365d_count').innerHTML = last_365d_count.reduce((a, b) => a + b.value, 0).toLocaleString();
      document.getElementById('last_week_count').innerHTML = last_week_count.reduce((a, b) => a + b.value, 0).toLocaleString();
      document.getElementById('current_week_count').innerHTML = current_week_count.reduce((a, b) => a + b.value, 0).toLocaleString();
      document.getElementById('lifetime_count').innerHTML = lifetime_count.toLocaleString();

      let line_graph_data_365 = fillMissingDays(last_365d_count, startOf365DaysAgo, moment().format('YYYY-MM-DD'));
      let line_graph_data_week = fillMissingDays(last_week_count, startOfLastWeek, endOfLastWeek);
      let line_graph_data_current_week = fillMissingDays(current_week_count, startOfWeek, endOfWeek);
      // console.log(current_week_count, line_graph_data_current_week);

      lineGraph(groupByWeek(line_graph_data_365), '#last365dGraph');
      lineGraph(line_graph_data_week, '#lastWeekGraph');
      lineGraph(line_graph_data_current_week, '#currentWeekGraph');

      return Object.entries(days).map(([date, data]) => {
        return { date: date, count: data.count };
      });
    } catch (error) {
      console.error("Error fetching data: ", error);
    }
  }
  const lineGraph = (data, target) => {
    // sort data to ensure it's in chronological order
    const parsedData = data.map(d => ({
      date: new Date(d.date), // Parse date into a Date object
      value: +d.value         // Ensure value is a number
    })).sort((a, b) => a.date - b.date); // Sort by date

    // Set the dimensions of the graph
    const margin = { top: 10, right: 10, bottom: 10, left: 10 },
      width = 220 - margin.left - margin.right, // Adjusted Width
      height = 70 - margin.top - margin.bottom; // Adjusted Height

    // Append the SVG object to the div#lineGraph
    const svg = d3.select(target)
      .append("svg")
      .attr("preserveAspectRatio", "xMinYMin meet") // This will preserve the aspect ratio
      .attr("viewBox", `0 0 ${width + margin.left + margin.right} ${height + margin.top + margin.bottom}`) // Set the viewBox to the initial width and height
      .classed("svg-content-responsive", true)
      .append("g")
      .attr("transform", `translate(${margin.left},${margin.top})`);

    // Add X scale
    const x = d3.scaleTime()
      .domain(d3.extent(parsedData, d => d.date))  // Use parsedData here
      .range([0, width]);

    // Add Y scale
    const y = d3.scaleLinear()
      .domain([0, d3.max(parsedData, d => d.value)])  // Use parsedData here
      .range([height, 0]);

    // Add the area
    svg.append("path")
      .datum(parsedData)
      .attr("class", "fill-primary-500")
      .attr("fill-opacity", .3)
      .attr("stroke", "none")
      .attr("d", d3.area()
        .x(d => x(d.date))
        .y0(y(0))  // This ensures the bottom of the area is at y(0)
        .y1(d => y(d.value))
        .curve(d3.curveBasis)
      );

    // Add the line
    svg.append("path")
      .datum(parsedData)  // Use parsedData
      .attr("fill", "none")
      .attr("class", "stroke-primary-600 dark:stroke-primary-400 stroke-[3px]")
      .attr("d", d3.line()
        .x(d => x(d.date))
        .y(d => y(d.value))
        .curve(d3.curveBasis)
      );
  }
  getDisplayMode = () => {
    let mode = 'light'; // Default to light mode

    // Check if matchMedia and prefers-color-scheme are supported
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      mode = 'dark'; // User prefers dark mode
    }

    // Optionally, you can listen for changes and update the mode variable accordingly
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
      mode = event.matches ? 'dark' : 'light';
      // console.log('Mode changed to:', mode); // Do something when the mode changes
    });

    return mode;
  }

  (async () => {
    const colorRange = {
      'dark': ['#0e4429', '#006d32', '#26a641', '#39d353'],
      'light': ['#9be9a8', '#40c463', '#30a14e', '#216e39'],
    }
    try {
      const entries = await loadData();

      // Get unique years from entries:
      const years = [...new Set(entries.map(entry => entry.date.slice(0, 4)))];

      // Year IDs are in the form y_YYYY where YYYY is the year
      const yearIds = years.map(year => `y_${year}`);
      today = new Date();

      lineGraph([
        { date: new Date(2020, 0, 1), count: 30 },
        { date: new Date(2020, 1, 1), count: 50 },
        // Add more data points here...
        { date: new Date(2020, 11, 1), count: 80 }
      ],
        '#lineGraph'
      );
    } catch (error) {
      console.error("Error handling the entries: ", error);
    }
  })();
  document.querySelectorAll('.ContributionCalendar-day').forEach(function (day) {
    let tooltip = day.querySelector('.tooltip');

    Popper.createPopper(day, tooltip, {
      placement: 'top', modifiers: [{ name: 'offset', options: { offset: [0, 8], }, }],
    });
  });

</script>