<aside class="max-w-prose text-sm md:text-base px-4 mx-auto text-center">
  <p>
    By day, I navigate the complexities of information technology.
    By night, I craft enthralling worlds of Science Fiction that inspire and captivate.
    But I am a family man all the time.
  </p>
  <p>
    Author of the
    <a href='https://benwilson.io/books' class="permalink">Postal Marines series</a>.
  </p>
  <hr class="w-2/3 mx-auto my-4 border-gray-500 hidden">
  <p>This is my site for <a href='/tools'>tools</a>.</p>
</aside>