<aside class="max-w-prose text-sm md:text-base px-4 mx-auto text-center space-y-4">
  <p>
    By day, I navigate the complexities of information technology.
    By night, I craft enthralling worlds of Science Fiction that inspire and captivate.
    But I am a family man all the time.
  </p>
  <p>
    Author of the
    <a href='https://merovex.press' class="permalink">Postal Marines series</a>,
    and now at work on a new series inspired by
    <a href='https://merovex.press/blog/how-traveller-rpg-inspires-my-writing-1n4v4r0/' class="permalink">Traveller</a>
    and its community. Alongside it, I'm building a desktop app for
    managing your own Traveller universe.
  </p>
  <p class="text-sm">
    Also here: my <a href='/tools' class="permalink">worldbuilding tools</a>.
  </p>
</aside>