<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="alternate" type="application/atom+xml" title="Feed" href="https://world.hey.com/benwilson/feed.atom">
<meta name="description" content="{{site.description}}">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<title>{% if page.title %}{{ page.title }} by {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="stylesheet" href="/assets/cal-heatmap.css">
<link rel="stylesheet" href="/assets/styles.min.css">
<link rel="stylesheet" href="/assets/fonts.css">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@merovex">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{{page.excerpt | strip_html | truncate 200 }}">
<meta name="twitter:image" content="http://www.benwilson.io/assets/images/ben-wilson-2023a.jpg">

<meta property="og:image" content="http://www.benwilson.io/assets/images/ben-wilson-2023a.jpg">
<meta property="og:type" content="article">
<meta property="og:url" content="{{page.url}}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{{page.excerpt | strip_html | truncate 200 }}">
<script type="module" src="/assets/controllers/color_scheme_controller.js"></script>