<section class="subscription_form">
  <form action="https://world.hey.com/benwilson/subscribers" accept-charset="UTF-8" data-remote="true" method="post"
    class="w-full">
    <label for="subscriber_email_address" class="text-subtle text-center block mb-4">
      Subscribe to get future posts via email (or grab the <a class="permalink"
        href="https://world.hey.com/benwilson/feed.atom">RSS feed</a>)
    </label>

    <div class="flex md:w-2/3 mx-auto push_half--top">
      <input type="email" name="subscriber[email_address]" id="subscriber_email_address" placeholder="Type your email…"
        required="true">
      <button>Subscribe</button>
    </div>
  </form>
</section>