@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --calgraph-1: #FF0000;
  --radius-blob-1: 30% 70% 70% 30% / 53% 30% 70% 47%;
  --radius-blob-2: 53% 47% 34% 66% / 63% 46% 54% 37%;
  --radius-blob-3: 37% 63% 56% 44% / 49% 56% 44% 51%;
  --radius-blob-4: 63% 37% 37% 63% / 43% 37% 63% 57%;
  --radius-blob-5: 49% 51% 48% 52% / 57% 44% 56% 43%;
  /* --radius-blob-6: 60% 30% 60% 60% / 30% 30% 60% 60%; */
  --radius-blob-6: 35% 65% 30% 70% / 50% 58% 42% 50%;
}

@layer base {
  .rounded-blob-1 {
    border-radius: var(--radius-blob-1);
  }
  .rounded-blob-2 {
    border-radius: var(--radius-blob-2);
  }
  .rounded-blob-3 {
    border-radius: var(--radius-blob-3);
  }
  .rounded-blob-4 {
    border-radius: var(--radius-blob-4);
  }
  .rounded-blob-5 {
    border-radius: var(--radius-blob-5);
  }
  .rounded-blob-6 {
    border-radius: var(--radius-blob-6);
  }
  
  .bg-base-300 {
    @apply bg-gray-200;
    @apply dark:bg-gray-800 dark:text-gray-50;
  }

  .surface-2 {
    @apply bg-red-100;
    @apply dark:bg-gray-900 dark:text-gray-50;
  }

  .surface-1 {
    @apply bg-[#fffcf9];
    @apply dark:bg-gray-950 dark:text-gray-50;
  }
}

body {
  /* font-size: 18px; */
  @apply surface-1;
  @apply px-4 md:px-0;
  /* @apply dark:bg-[#22272e] dark:text-gray-100; */
}
.bordered {
  @apply border border-gray-100 dark:border-gray-700;
}
.text-subtle {
  @apply text-gray-700;
  @apply dark:text-gray-400;
}
h1 {
  @apply font-display pt-2;
}
.h1 {
  @apply font-bold text-4xl md:text-5xl;
}
.h2 {
  @apply font-semibold text-2xl md:text-3xl;
}
.h3 {
  @apply font-semibold text-xl md:text-2xl;
}
.dev {
  @apply bg-rose-500/20
}
.prosed {
  @apply prose lg:prose-lg dark:prose-invert;
}
.post-card {
  @apply relative max-w-prose rounded shadow-lg mx-auto px-8 py-6 my-8;
  @apply bordered;

  aspect-ratio: 16/9;
}
.clamped {
  line-clamp: 5;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.post-card header, .post-card footer {
    @apply text-center;
}
.post-card header h2 {
  @apply h2;
}
.post-card header span, .post-card footer span {
  @apply text-gray-500;
  @apply dark:text-gray-400;
  @apply text-sm;
}
.post {
  @apply max-w-prose mx-auto;
  @apply my-4 md:my-8;
}
.post header {
  @apply text-center;

}

.post .content {
  @apply prosed;
}
.content img {
  @apply rounded-lg shadow;
}
.post h1 {
  @apply h1 leading-snug;
}
.post h1 span {
  @apply text-gray-500;
  @apply dark:text-gray-400;
  @apply text-sm;
}

.permalink {
  @apply text-blue-700 hover:bg-amber-200 hover:text-blue-800;
  @apply dark:text-blue-400 dark:hover:text-blue-300;
  @apply focus:text-blue-800 focus:bg-amber-200 dark:focus:text-blue-300 dark:focus:bg-blue-700;
  @apply active:text-blue-800 active:bg-amber-200 dark:active:text-blue-300 dark:active:bg-blue-700;
  @apply underline;
}
.subscription_form {
  @apply text-sm;
  @apply max-w-xl w-full text-[0.9em] mx-auto relative mt-3 pt-3;
  @apply before:content-[''] before:block before:absolute before:top-0;
  @apply before:h-1 before:w-1/4 before:border-t before:border-t-gray-500;
  @apply before:left-1/2 before:-translate-x-1/2;
  
}
.subscription_form input {
  @apply rounded-l-full px-4 py-2 flex-1;
  @apply border border-gray-300 dark:border-gray-500;
  @apply dark:bg-gray-800;
}

.subscription_form button {
  @apply bg-gray-200 dark:bg-gray-600 rounded-r-full px-4 py-2;
  @apply border border-l-0 border-gray-300 dark:border-gray-500;
}

.form-select {
  @apply mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 sm:text-sm sm:leading-6;
  @apply surface-2  dark:placeholder-gray-300/50 ;
  @apply ring-1 ring-inset ring-gray-300 dark:ring-white/10;
  @apply dark:focus:ring-primary-500 focus:ring-2 focus:ring-indigo-600;
}
.form-input {
  @apply block w-full rounded-md border-0 surface-2 py-1.5 px-2 dark:text-gray-50 shadow-sm;
  @apply ring-1 ring-inset ring-gray-400 dark:ring-white/10;
  @apply placeholder-gray-500;
  @apply focus:ring-2 focus:ring-inset focus:ring-indigo-500;

  &[disabled],
  &[readonly] {
    @apply bg-gray-200 dark:bg-gray-600;
  }

  &.error {
    @apply border-red-300 dark:border-red-600;
  }
}
.form-control-lg {
  @apply text-xl my-2;
  @apply block w-full rounded-md border-0 px-4 py-4 text-gray-900 shadow-sm sm:leading-6;
  @apply ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-primary-600 dark:focus:ring-primary-500;
  @apply dark:bg-gray-700 dark:ring-gray-600 placeholder:text-gray-400 dark:placeholder-gray-300/50 dark:text-gray-50 ;

  &[disabled],
  &[readonly] {
    @apply bg-gray-200 dark:bg-gray-600;
  }

  &.error {
    @apply ring-red-300 dark:ring-red-600;
  }
}
#clock-gradient {}

svg#clock {
  height: auto;
  max-height: 90vh;
  width: 100%;
}

.bgDot {
  stroke: none;
}

.clockCircle {
  fill: none;
  stroke: #2a2a2a;
}

.clockArc {
  fill: none;
  stroke: hsl(200, 60%, 60%);
}

.clockDot {
  fill: hsl(200, 80%, 85%);
}

.caption {
  fill: hsl(200, 60%, 95%);
}

.dayText {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.daysText,
.weatherText {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.dateText,
.tempText {
  font-size: 3rem;
  line-height: 1;
}

.timeText {
  line-height: 1;
  font-weight: 500;
}

.highlight {
  transition: background-color 1.5s ease-in-out;
}
.heatmap {
  @apply mx-auto bg-gray-50 dark:bg-gray-800
}

.calgraph-text {
  @apply font-sans text-xs dark:fill-gray-100/50 fill-gray-800;
}

.calgraph-text-bold {
  @apply font-sans text-xs dark:fill-gray-100 fill-gray-600;
}

.calgraph-1 {
  @apply fill-gray-500/[.15] stroke-gray-300/50 dark:stroke-gray-500/25;
}

.calgraph-2 {
  @apply fill-primary-300 dark:fill-heatmap-400/[.50] stroke-gray-500/[.15]
}

.calgraph-3 {
  @apply fill-primary-400 dark:fill-heatmap-400/[.60] stroke-gray-500/[.15]
}

.calgraph-4 {
  @apply fill-primary-500 dark:fill-heatmap-400/[.70] stroke-gray-500/[.15]
}

.calgraph-5 {
  @apply fill-primary-700 dark:fill-heatmap-400 stroke-gray-500/[.15]
}

.year-button.active {
  @apply btn-primary;
}

.year-button {
  @apply btn btn-white btn-small my-1;
}
.btn {
  @apply inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2;

}
.btn-primary {
  @apply bg-primary-500 hover:bg-primary-600 text-white;
}
.btn-white {
  @apply bg-white hover:bg-gray-50 text-gray-700;
}
.btn-small {
  @apply text-xs;
  color: 
}
.btn-wordcount {
  @apply inline-flex items-center justify-center text-sm border rounded-lg shadow py-1 px-2;
  @apply hover:bg-primary-700 hover:text-white;
  @apply hover:dark:bg-primary-500 hover:dark:text-white;
}
.ContributionCalendar-day {
  @apply border border-gray-50 dark:border-gray-800 bg-gray-500/50 rounded-sm;
}
.contribution-map {
  margin-block: auto;
  border-spacing: 3px;
  /* @apply bg-rose-50 dark:bg-rose-800; */
}
:root {
  --color-calendar-graph-day-bg: #ebedf0;
    --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L1-bg: #9be9a8;
    --color-calendar-graph-day-L1-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L2-bg: #40c463;
    --color-calendar-graph-day-L2-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L3-bg: #30a14e;
    --color-calendar-graph-day-L3-border: rgba(27, 31, 35, 0.06);
    --color-calendar-graph-day-L4-bg: #216e39;
    --color-calendar-graph-day-L4-border: rgba(27, 31, 35, 0.06);
}

:root[data-color-scheme="dark"] {
  --color-calendar-graph-day-bg: #2d333b;
  --color-calendar-graph-day-border: rgba(255, 255, 255, 0.05);
  --color-calendar-graph-day-L1-bg: #0e4429;
  --color-calendar-graph-day-L1-border: rgba(255, 255, 255, 0.05);
  --color-calendar-graph-day-L2-bg: #006d32;
  --color-calendar-graph-day-L2-border: rgba(255, 255, 255, 0.05);
  --color-calendar-graph-day-L3-bg: #26a641;
  --color-calendar-graph-day-L3-border: rgba(255, 255, 255, 0.05);
  --color-calendar-graph-day-L4-bg: #39d353;
  --color-calendar-graph-day-L4-border: rgba(255, 255, 255, 0.05);
}

.ContributionCalendar-grid {
  width: max-content;
  border-collapse: separate;
  border-spacing: 3px;
  position: relative;
}

.ContributionCalendar-day {
  fill: var(--color-calendar-graph-day-bg);
  shape-rendering: geometricPrecision;
  background-color: var(--color-calendar-graph-day-bg);
  border-radius: 2px;
  outline: 1px solid var(--color-calendar-graph-day-border);
  outline-offset: -1px;
  border: none;
  /* position: relative; */
}
.ContributionCalendar-day .tooltip {
  @apply bg-gray-800 text-white text-xs rounded-sm w-44 -ml-[86px] text-center py-1 px-2;
  z-index: 5000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.125s ease-in-out;
}
.ContributionCalendar-day:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
#arrow,
[data-popper-arrow] {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 0 5px;
}

.tooltip[data-popper-placement^='top']>#arrow {
  bottom: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #596678 transparent;
  /* Match tooltip background */
}

.tooltip[data-popper-placement^='bottom']>#arrow {
  top: -4px;
  border-width: 5px 5px 0 5px;
  border-color: #596678 transparent transparent transparent;
  /* Match tooltip background */
}

/* Add similar rules for left and right arrows if needed */
.tooltip[data-popper-placement^='left']>#arrow {
  right: -4px;
  border-width: 5px 5px 5px 0;
  border-color: transparent #596678 transparent transparent;
  /* Match tooltip background */
}
.tooltip[data-popper-placement^='right']>#arrow {
  left: -4px;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #596678;
  /* Match tooltip background */
}

.ContributionCalendar-day[data-level="0"] { 
  outline: 1px solid var(--color-calendar-graph-day-border);

}

.ContributionCalendar-day[data-level="1"] {
  fill: var(--color-calendar-graph-day-L1-bg);
  background-color: var(--color-calendar-graph-day-L1-bg);
  outline: 1px solid var(--color-calendar-graph-day-border);
}

.ContributionCalendar-day[data-level="2"] {
  fill: var(--color-calendar-graph-day-L2-bg);
  background-color: var(--color-calendar-graph-day-L2-bg);
  outline: 1px solid var(--color-calendar-graph-day-L2-border);
}

.ContributionCalendar-day[data-level="3"] {
  fill: var(--color-calendar-graph-day-L3-bg);
  background-color: var(--color-calendar-graph-day-L3-bg);
  outline: 1px solid var(--color-calendar-graph-day-L3-border);
}

.ContributionCalendar-day[data-level="4"] {
  fill: var(--color-calendar-graph-day-L4-bg);
  background-color: var(--color-calendar-graph-day-L4-bg);
  outline: 1px solid var(--color-calendar-graph-day-L4-border);
}

