---
layout: default
title: 'Ben Wilson, author'

---
{% include biography.html %}
<div class="mb-12"></div>

<section class="mb-20 low-res-bg"
  style="background: url(/assets/images/merovex_simple_star_field_in_the_depths_of_space_with_a_nebula__f2d9548b-46a6-427c-8257-0e185883a3e2-a-lowres.avif) center right; background-size: cover;">
  <div
    class="relative flex w-full overflow-x-auto shadow-inner gap-6 snap-x snap-mandatory p-14 xbg-indigo-200/20 text-white"
    style="text-shadow: 1px 1px 1px #000">
    <div class="snap-center shrink-0">
      <div class="w-4 shrink-0 sm:w-48"></div>
    </div>
    {%- for book in site.books %}
    {%- if book.draft != true %}
    <div class="snap-center shrink-0 first:pl-8 last:pr-8">
      <a href="{{ book.url }}" class="rounded ">
        {% if book.cover_image %}
        {% assign file_parts = book.cover_image | split: '.' %}
        {% assign filename = file_parts[0] %}
        {% assign extension = file_parts[1] %}
        {% assign thumbnail_image = filename | append: '-thumbnail' | append: '.' | append: extension %}
        {% assign mobile_thumbnail_image = filename | append: '-thumbnail-mobile' | append: '.' | append: extension %}
        <picture>
          <source media="(max-width: 799px)" srcset="/assets/images/covers/{{ mobile_thumbnail_image }}">
          <source media="(min-width: 800px)" srcset="/assets/images/covers/{{ thumbnail_image }}">
          <img src="/assets/images/covers/gambit-cover.avif" alt="Cover of Gambit"
            class="h-[360px] w-[240px] m-4 rounded shadow-xl">
        </picture>
        {% else %}
        <img src="{{  'https://via.placeholder.com/1200x1800' }}" alt="Cover of {{ book.title }}"
          class="h-[360px] w-[240px] m-4 rounded shadow-xl" />
        {% endif %}
        <h3 class="h3 text-center">{{ book.title }}</h3>
      </a>
    </div>
    {% endif %}
    {%- endfor %}
    <div class="snap-center shrink-0">
      <div class="w-4 shrink-0 sm:w-48"></div>
    </div>
  </div>
</section>

{% for post in paginator.posts %}
<article class='post-card'>
  <header>
    <span>{{ post.date | date: "%-d %B %Y" }}</span>
    <h2>{{ post.title }}</h2>
  </header>
  <div class="prosed my-4">{{ post.excerpt | strip_html | truncatewords: 50 }}</div>
  <a class="absolute top-0 left-0 h-full w-full" href="{{ post.url }}"><span class="sr-only">{{post.title}}</span></a>
  <footer>
    <span class="inline-block mx-auto bordered rounded-full py-1 px-3">Read More</span>
  </footer>
</article>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">
    Previous
  </a>
  {% else %}
  <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
  <span class="next ">Next</span>
  {% endif %}
</div>

<script>
  window.addEventListener('load', (event) => {
    const highResImage = new Image();
    highResImage.src = '/assets/images/merovex_simple_star_field_in_the_depths_of_space_with_a_nebula__f2d9548b-46a6-427c-8257-0e185883a3e2-a.avif';
    highResImage.onload = () => {
      document.querySelector('.low-res-bg').style.backgroundImage = `url('${highResImage.src}')`;
      // document.querySelector('.low-res-bg').style.opacity = 0; // Fade out the low-res image
    };
  });
</script>